/* BEGIN CATALOG PAGES */

.banner-catalog {
    width: 100%;
    height: 272px;
    padding: 35px 50px;
    margin: 0 0 55px;
    border: 1px solid #eaeeef;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.catalog-machine__banner {
    background: url("../image/base/banner-machine.png") no-repeat 100% 0;
}

.catalog-drill__banner {
    background: url("../image/base/banner-drill.png") no-repeat 100% 0;
}

.banner-catalog__title {
    max-width: 470px;
    margin: 0;
    padding: 0 15px;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 900;
    color: #252525;
    border-left: 3px solid #fc0013;
}

.banner-catalog__description {
    max-width: 470px;
    margin: 15px 0 0;
    font-size: 16px;
    font-weight: 300;
    color: #252525;
}

/* begin checkbox */

.checkbox {
    font-size: 12px;
}

.checkbox label::before {
    width: 17px;
    height: 17px;
    border: 1px solid #bac5cc;
    border-radius: 0;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: none;
}

.checkbox input[type="checkbox"]:checked + label::before, .checkbox input[type="radio"]:checked + label::before {
    background-color: #ffffff;
    border-color: #f67888;
    outline: none;
}

.checkbox label:hover {
    color: #fc0013;
}

.checkbox label::after {
    color: #fc0013;
}

input:disabled + label:hover {
    color: #333;
}

.radio + .radio, .checkbox + .checkbox {
    margin-top: 0;
}

/* end checkbox */

.sorting-wrap {
    margin: 0 0 30px;
}

.sorting-table {
    width: 100%;
}

.sorting-table td:first-child {
    width: 325px;
}

.sorting-table td {
    text-align: center;
    border: 1px solid #e9eff1;
}

.sorting-table.table > thead:first-child > tr:first-child > td {
    border-top: 1px solid #e9eff1;
}

.sorting-table.table > thead > tr > th, .sorting-table.table > tbody > tr > th,
.sorting-table.table > tfoot > tr > th, .sorting-table.table > thead > tr > td,
.sorting-table.table > tbody > tr > td, .sorting-table.table > tfoot > tr > td {
    padding: 15px;
    vertical-align: middle;
}

.sorting-table thead {
    font-size: 13px;
    color: #666666;
}

.sorting-table__model {
    text-align: left !important;
}

.buttons-sorting {
    width: 45px;
    margin: auto;
}

.buttons-sorting__item {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.options-active {
    background: #fbfdfd;
}

.options-title{
    line-height: 1.2;
}

.options-sorting__icon {
    height: 25px;
    margin: 0 auto 15px;
}

.buttons-sorting__top {
    float: left;
    background: url("../image/icons/sorting-arrows.png") no-repeat 100% 0;
}

.buttons-sorting__top:hover, .buttons-sorting__top.active {
    background: url("../image/icons/sorting-arrows.png") no-repeat 0 0;
}

.buttons-sorting__bottom {
    float: right;
    background: url("../image/icons/sorting-arrows.png") no-repeat 33% 0;
}

.buttons-sorting__bottom:hover, .buttons-sorting__bottom.active {
    background: url("../image/icons/sorting-arrows.png") no-repeat 68% 0;
}

.diameter-core-bits .options-sorting__icon {
    width: 18px;
    background: url("../image/icons/sorting-icon.png") no-repeat;
}

.drilling-depth .options-sorting__icon{
    width: 22px;
    background: url("../image/icons/sorting-icon.png") no-repeat 13% 0;
}

.diameter-twist-drills .options-sorting__icon{
    width: 20px;
    background: url("../image/icons/sorting-icon.png") no-repeat 25% 0;
}

.power .options-sorting__icon{
    width: 18px;
    background: url("../image/icons/sorting-icon.png") no-repeat 37% 0;
}