/* BEGIN HOME PAGE */

.main-slider {
	position: relative;
	width: 100%;
	/*max-width: 1920px;*/
	margin: auto;
}

.main-slider__container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}

.main-slider__item {
	height: 542px;
	background-size: 100% 100% !important;
}

.main-slider__item-first {
	background: url("../image/base/slide1.jpg") no-repeat;
}

.main-slider__item-second {
	background: url("../image/base/slide1.jpg") no-repeat;
}

.main-slider__item-third {
	background: url("../image/base/slide2.jpg") no-repeat 75%;
}

.main-slider__item-fourth {
	background: url("../image/base/slide_spb.jpg") no-repeat;
}

.main-slider__text {
	position: absolute;
	bottom: 15%;
	display: block;
	max-width: 470px;
	padding: 30px;
	cursor: pointer;
	background: #fc0013;
	border: 4px solid #ffffff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #ffffff;
}

.main-slider__text-large {
	margin: 0;
	font-size: 24px;
	line-height: 1.3;
	font-weight: 900;
	color: #ffffff;
}

.main-slider__text-small {
	margin: 10px 0 0;
	font-size: 15px;
	line-height: 1.3;
	font-weight: 300;
	color: #ffffff;
}

.main-slider__text-large:hover, .main-slider__text-large:focus,
.main-slider__text-small:hover, .main-slider__text-small:focus {
	color: #ffffff;
}

.wrapper-dots {
	width: 100%;
	max-width: 1600px;
	position: absolute;
	bottom: 15px;
	left: 37%;
}

.owl-theme .owl-dots .owl-dot span {
	width: 60px;
	height: 2px;
	margin: 0 5px;
	background: #ffffff;
	border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span {
	height: 5px;
	background: #fc0013;
}

.owl-theme .owl-dots .owl-dot:hover span {
	background: #fc0013;
}

.home-about {
	padding: 80px 0;
	background: #f0f0f0;
}

.home-about__image {
	float: left;
	width: 45%;
	text-align: center;
}

.home-about__image img {
	width: 100%;
	max-width: 430px;
}

.home-about__text {
	float: left;
	width: 55%;
	padding: 0 35px;
	font-size: 16px;
	color: #666666;
	font-weight: 300;
}

.home-about__text h2 {
	margin: 30px 0 30px;
}

.home-products {
	padding: 70px 0;
}

.home-products__icon {
	text-align: center;
}

.home-products__icon span {
	display: inline-block;
	width: 65px;
	height: 70px;
	background: url("../image/icons/product-icon.png") no-repeat;
}

.home-products h2 {
	text-align: center;
}

.resp-tab-content {
	border: none;
}

.resp-tabs-list {
	width: 640px;
	margin: 60px auto 0 !important;
}

.resp-tabs-list li {
	width: 210px;
	margin: 0 2px 0 0;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	background: none !important;
	border-bottom: 2px solid #d6d6d6;
	padding: 16px 20px;
}

.resp-tab-active {
	border-color: #fc0013 !important;
	color: #fc0013;
}

.product-tab-item {
	position: relative;
	width: 24.5%;
	height: 330px;
	margin-bottom: 5px;
	display: inline-block;
	vertical-align: bottom;
	cursor: pointer;
	border: 1px solid transparent;
	/*border: 1px solid red;*/
}

.product-tab-item:hover {
	z-index: 1;
	border: 1px solid #eeeeee;
	-webkit-box-shadow: 0 10px 12px -10px #000000;
	-moz-box-shadow: 0 10px 12px -10px #000000;
	box-shadow: 0 10px 12px -10px #000000;
}

.tab-item-content {
	width: 100%;
	position: absolute;
	bottom: 45px;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.product-tab-item img {
	max-width: 70%;
}

.content-tab {
	text-align: center;
}

.product-tab-title span, h2.resp-accordion {
	font-size: 16px;
	font-weight: 300;
	color: #5c5b60;
	border-bottom: 1px solid #c2c1c3;
}

.product-tab-title {
	height: 45px;
	max-width: 230px;
	margin: 30px auto 0;
}

h2.resp-accordion:first-child, h2.resp-accordion {
	margin-bottom: 3px;
	border: 1px solid #c2c1c3 !important;
	background: none !important;
}

.resp-arrow {
	border-top: 12px solid #fc0013;
}

.offer-item {
	width: 50%;
	float: left;
	padding: 25px 40px 45px 30px;
}

.wrap-offers {
	margin-bottom: 110px;
	border: 1px solid #e5e5e5;
}

.delivery-offer {
	margin-left: -1px;
	border-left: 1px solid #e5e5e5;
}

.special-offer {
	border-right: 1px solid #e5e5e5;
}

.offer-item__title {
	width: 250px;
	margin: 25px 0 20px;
	font-size: 22px;
	font-weight: 900;
	line-height: 1.2;
}

.offer-item__description {
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	color: #666666;
}

.special-offer .offer-item__title {
	width: 320px;
	margin: 32px 0 20px;
}

.marketing-block {
	position: relative;
	width: 100%;
	text-align: center;
	background-size: 100% 100%;
	color: #ffffff;
}

.marketing-block-1 {
	background: url("../image/base/marketing-block-1.png");
}

.marketing-block__container {
	min-height: 290px;
	background: rgba(0, 0, 0, 0.3);
}

.marketing-block__text {
	margin: 0 0 5px;
	line-height: 1.1;
	font-size: 30px;
	font-weight: 900;
}

.marketing-block__button {
	margin-top: 40px;
	padding: 24px 49px;
	font-size: 14px;
	font-weight: 900;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}

.marketing-block__button:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	opacity: 0.9;
	background: #f84630;
}

.marketing-block__content {
	padding: 60px 15px;
}

.advantages-wrap {
	padding: 120px 0 35px;
}

.advantages-wrap h2 {
	margin-bottom: 80px;
	text-align: center;
}

.advantages-text {
	width: 50%;
	float: left;
	text-align: center;
}

.advantages-image {
	width: 50%;
}

.advantages-image--right {
	float: right;
	text-align: right;
}

.advantages-image--left {
	float: left;
	text-align: left;
}

.advantages-image img {
	width: 100%;
	max-width: 460px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.advantages-title {
	font-size: 22px;
	font-weight: 900;
	margin: 0 0 25px;
}

.advantages-description {
	padding: 0 15px;
	font-size: 14px;
	font-weight: 300;
	color: #666666;
	line-height: 1.6;
}

.advantages-numbering {
	margin: 30px 0 5px;
	font-size: 20px;
	font-weight: 900;
	color: #f84630;
}

.advantages-line {
	display: inline-block;
	margin-bottom: 6px;
	width: 34px;
	height: 1px;
	background: #f84630;
}

.advantages-content {
	margin-bottom: 60px;
}

.advantages-item {
	margin-bottom: 60px;
}

.advantages-description a {
	font-weight: 600;
	color: #333333;
	border-bottom: 1px solid #d7d7d7;
}

.advantages-description a:hover {
	color: #f84630;
}

.news-wrap {
	padding: 50px 0 60px;
	background: #efefef;
}

.news-wrap h2 {
	margin: 20px 0 45px;
	text-align: center;
}

.news-slider__item {
	margin: 0 8px;
}

.news-slider__item-link {
	position: relative;
	display: block;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.news-slider__image {
	margin-bottom: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.news-slider__date {
	font-size: 12px;
	font-weight: 300;
	color: #999999;
}

.news-slider__title {
	min-height: 50px;
	font-size: 17px;
	color: #333333;
}

.news-slider__title span {
	border-bottom: 1px solid #a2a2a2;
}

.news-slider__item-hover {
	display: none;
	position: absolute;
	top: 0;
	padding: 20px;
	background: #ffffff;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 10px 12px -10px #000000;
	-moz-box-shadow: 0 10px 12px -10px #000000;
	box-shadow: 0 10px 12px -10px #000000;
}

.news-slider__item-link:hover .news-slider__item-hover {
	display: block;
}

.news-slider__item-hover h3 {
	min-height: 44px;
	margin: 15px 0 35px;
	font-size: 17px;
	line-height: 1.3;
	font-weight: normal;
	color: #333333
}

.news-slider__item-description {
	padding: 0 10px;
	font-size: 12px;
	line-height: 1.6;
	font-weight: 300;
	color: #666666;
}

.news-slider__item-read {
	margin-top: 40px;
	font-size: 12px;
	font-weight: 900;
	color: #f84630;
	text-transform: uppercase;
}

.news-slider .owl-prev {
	width: 16px;
	height: 28px;
	background: url("../image/icons/arrows-slider.png") no-repeat !important;
	position: absolute;
	left: -40px;
	top: 36%;
	-moz-transform: translateY(-42%);
	-webkit-transform: translateY(-42%);
	-o-transform: translateY(-42%);
	-ms-transform: translateY(-42%);
	transform: translateY(-42%);
}

.news-slider .owl-next {
	width: 16px;
	height: 28px;
	background: url("../image/icons/arrows-slider.png") no-repeat 100% 0 !important;
	position: absolute;
	right: -40px;
	top: 36%;
	-moz-transform: translateY(-42%);
	-webkit-transform: translateY(-42%);
	-o-transform: translateY(-42%);
	-ms-transform: translateY(-42%);
	transform: translateY(-42%);
}

.news-slider .wrapper-dots {
	position: static;
	margin-top: 45px;
}